%script#body_add-milestone_template{type: 'text/template'}
  .milestone-card.row.input-form{"data-server-code" => 'add-milestone'}
    .card-entry.tight.col.s-ninety
      .input-field
        %input#add-milestone-title{autofocus: true, type: 'text', name: 'title'}
        %label{for: 'add-milestone-title'}
          Milestone Title
      .input-field      
        %input#add-milestone-description{type: 'text', name: 'description'}
        %label{for: 'add-milestone-description'}
          Milestone Description
      .input-field      
        %input#add-milestone-enddate{type: 'text', name: 'enddate'}
        %label{for: 'add-milestone-enddate'}
          End Date
        
%script#body_milestones_template{type: 'text/template'}
  .milestone-list
    
%script#milestone_item_template{type: 'text/template'}
  .milestone-listing.s12.col
    .title
      <%- title %>
    .due-in
      <%- due_at %>
