%script#overlay_template{type: 'text/template'}
  .blackout
  .overlay-screen
    .x-out
      X
    .message
      .message-title
        <%- message_title %>
      .message-body
        #copiable-public-portfolio
          <%- message_body %>
        .clipboard
          .clickbox
            Copy URL
          .flash
            Copied!
