%script#body_guides_template{type: 'text/template'}
  .switcher-tab.row
    .col.s6#goto-list.goto.selected.pointer
      list
    .col.s6#goto-guides-saved.goto.pointer
      saved
  .guides-list.row#all-guides
%script#body_guides_guidelist_template{type: 'text/template'}
  .col.s12.guide-title.pointer
    <%- title %>

%script#body_guides_singleview_template{type: 'text/template'}
  .col.s12.title
    <%- title %>
  .col.s12.description
    <%- description %>
