%script#overlay_template{type: 'text/template'}
  .blackout
  .overlay-screen
    .x-out
      X
    .message
      .message-title
        <%- message_title %>
      .message-body
        <%- message_body %>

