%script#body_counselor_template{type: 'text/template'}
  #logged-in-screen
    .switcher-tab.row
      .col.s6#goto-peers.goto.selected.pointer
        peers
      .col.s6#goto-mentors.goto.pointer
        mentors
    .counselor-list.row

%script#body_counselor_item_template{type: 'text/template'}
  .floating-action.pointer.chat
    %svg
      %use{x: '6px', y: '6px', "xlink:href" => '#chat-action'}
  .col.s12
    .namepic
      %img.rounded-border{src: ''}
    .details.pointer
      .name
        <%- name %>
      .description
        <%- description_string %>
