%script#body_add-service_template{type: 'text/template'}
  .portfolio-card.row.input-form{"data-server-code" => 'add-service'}
    .card-entry.tight.col.s-ninety
      .input-field      
        %input#add-service-title{autofocus: true, type: 'text', name: 'title'}
        %label{for: 'add-service-title'}
          Service Title
      .input-field      
        %input#add-service-description{type: 'text', name: 'description'}
        %label{for: 'add-service-description'}
          Short Description
      .input-field      
        %input#add-service-location{type: 'text', name: 'location'}
        %label{for: 'add-service-location'}
          Location
    
%script#body_services_template{type: 'text/template'}
  .taxonomy-list
    
%script#body_services_item_template{type: 'text/template'}
  .col.l6.s12.taxonomy-cell.pointer
    .taxonomy-img
      = (image_tag('service_images/OXB').gsub(/OXB/, '<%- image_key %>')).html_safe
    .taxonomy-name
      <%- node_name %>
      
%script#org_map_template{type: 'text/template'}
  #map-canvas
    
%script#org_list_template{type: 'text/template'}
  .switcher-tab.row
    .col.s6#goto-list.goto.selected.pointer
      list
    .col.s6#goto-map.goto.pointer
      map
  .result-cards
%script#org_list_card_template{type: 'text/template'}
  .card-entry.row
    .col.s12.title
      <%- agency_name %>
    .col.s2.detail-title
      About
    .col.s10.detail-text
      <%- about %>
    .col.s2.detail-title
      Cost
    .col.s10.detail-text
      <%- cost %>
    .col.s2.detail-title
      Eligibility
    .col.s10.detail-text
      <%- eligibility %>
