%script#body_template{type: 'text/template'}
  .top-row
  .body-text
    <%- text %>
  .bottom-row

%script#body_services_template{type: 'text/template'}
  .taxonomy-list

= render 'body_portfolio_template'
= render 'body_counselor_template'

