%script#body_template{type: 'text/template'}
  .top-row
  .body-text
    <%- text %>
  .bottom-row

%script#body_services_template{type: 'text/template'}
  .taxonomy-list

%script#body_chat_template{type: 'text/template'}
  Chat

%script#body_add-work_template{type: 'text/template'}
  .portfolio-card.row.input-form{"data-server-code" => 'add-work'}
    .card-entry.tight.col.s-ninety
      .input-field      
        %input#add-work-title{type: 'text'}
        %label{for: 'add-work-title'}
          Job Title
      .input-field
        %input#add-work-workplace{type: 'text'}
        %label{for: 'add-work-workplace'}
          Workplace

%script#body_portfolio_template{type: 'text/template'}
  .portfolio-name.row
    .col.s12
      .username
        <%- username %>
  .portfolio-card.row
    .title.col.s12
      = t('body.portfolio.work_experience')
    .card-entry.col.s-ninety.pointer#add-work
      .light-text
        = t('body.portfolio.add_work_experience')
    .card-entry.col.s-ninety
          
  .btn.pointer#sign-out
    Sign Out
    
%script#body_counselor_template{type: 'text/template'}
  #logged-out-screen
    = link_to 'Sign In', new_user_session_path
  #logged-in-screen
    .floating-action.pointer.chat
      %svg
        %use{x: '19px', y: '19px', "xlink:href" => '#chat-action'}
    .row.counselor-name
      .col.s9.nametext.pointer
        <%- name %>
      .col.s3.namepic
        %img{src: ''}
    .row.contact-details
      .col.s2.icon
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#contact-hours'}
      .col.s10.description
        Curabitur sed elec idemat pis
    .row.contact-details
      .col.s2.icon
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#contact-pin'}
      .col.s10.description
        Curabitur sed elec idemat pis
      
