%script#body_chat_template{type: 'text/template'}
  .chat-list.col.s12
  #chatarea.empty.col.s12
    #sendit.pointer
      = image_tag 'send_arrow.png', class: 'send-icon'
    .userinput{contentEditable: true}
