%script#header_template{type: 'text/template'}
  .nav-back.pointer
    â†
  .header-title
    <%- header_title %>
  .header-actions.pointer
    .item#search
      .responsive-img.search-icon-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#search-icon'}
    .item#submit-body-form
      = t('header.done')
