%script#header_searchbar_template{type: 'text/template'}
  .nav-back.pointer
    ←
  .header-title
    %input{name: 'query', placeholder: '<%- placeholder %>'.html_safe, autofocus: true, value: '<%- query %>'.html_safe}
  .header-actions.pointer
    .item#search
      .responsive-img.tool-icon-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#search-icon'}

%script#header_template{type: 'text/template'}
  .nav-back.pointer
    ←
  .header-title
    <%- header_title %>
  .header-actions.pointer
    .item.dynamic#published
      .button-rectangular.pointer
        loading
    .item.dynamic#share
      .responsive-img.tool-icon-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#share-icon'}
    .item.dynamic#search
      .responsive-img.tool-icon-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#search-icon'}
    .item.dynamic#submit-body-form
      = t('header.done')
