.portfolio-name.row
  .col.s12
    %img.portfolio-img.loading{src: '/images/spinner.gif'}
    %img.portfolio-img{src: '', id: img_dz_id}
  .col.s12.para
    .username
      <%- username %>
  .col.s12.para#public-interact
    .red-button#add-friend

