// This is where the friend cards template is

%script#body_portfolio-tab_template{type: 'text/template'}

%script#body_portfolio-tab-item_template{type: 'text/template'}
  .card-item.row
    .col.s12
      .floating-action.like.pointer
        ♡
      .namepic
        %img.rounded-border{src: ''}
      .description
        %span.entry-name
          <%- entry_name %>
        <%- description_string %>

%script#body_portfolio-tab-likes-item_template{type: 'text/template'}
  .card-item.row
    .col.s12
      .namepic
        %img.rounded-border{src: ''}
      .description
        <%- description_string %>

