%p
  You have a milestone due for completion in less than a day.
%p
  %b
    Title:
  = @milestone.title
%p
  %b
    Description
  = @milestone.description
%p
  This milestone has been assigned to you by #{@milestone.owner.full_name}
    
