body {
  font-family: 'Roboto', sans-serif;
}

.app-body {
  height: 100%;
  display: flex;
  position: relative;
  
  flex-direction: column;
  overflow: scroll;
  .services {
    overflow: hidden;
    width: 100%;
    .taxonomy-list {
      height: 100%;
    }
  }

  .floating-action {
    position: absolute;
    height: 56px;
    width: 56px;
    right: 15px;
    bottom: 15px;
    
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 8px 8px rgba(0,0,0,.24);
    
    &.chat {
      background-color: red;
      color: white;
    }
  }

  .portfolio-card {
    margin-top: 34px;
    .title {
      font-size: $body-text;
      color: $dark-gray;
      font-weight: bold;
      text-align: center;
      margin-bottom: 8px;
    }
    .card-entry {
      box-shadow: 0 2px 2px $shadow-rgba, 0 2px 2px $light-shadow-rgba;
      &.content {
	min-height: 112px;
      }
      
      background-color: $white;
      padding: 16px 0 12px 37px;
      &.tight {
	padding: 16px 16px 0 16px;
      }
      margin-bottom: 8px;
    }
  }
}

.body-text {
  font-size: 28px;
  text-align: center;
  width: 50%;
  margin: auto;
}
