.chat-window {
  .send-icon {
    height: 20px;
    width: 20px;
    margin-top: 11.5px;
  }
  
  position: relative;
  height: 100%;
  width: 100%;
  .chat-list {
    overflow-y: scroll;
    
    .chat-bubble {
      padding: 5.5px 7.5px;
      clear: both;
      margin-bottom: 30px; 
      position: relative;
      &.sent {
	float: right;
	color: white;
	background-color: $basic-blue;
	&:after {
	  display: block;
	  content: '';
	  position: absolute;
	  bottom: -10px;
	  left: 0;
	  height: 10px;
	  width: 10px;
	  border-width: 5px;
	  border-top-color: $basic-blue;
	  border-left-color: $basic-blue;
	  border-right-color: transparent;
	  border-bottom-color: transparent;
	  border-style: solid;
	}
      }
      
      &.received {
	float: left;
	color: $darker-gray;
	background-color: $medium-gray;
	&:after {
	  display: block;
	  content: '';
	  position: absolute;
	  bottom: -10px;
	  right: 0;
	  height: 10px;
	  width: 10px;
	  border-width: 5px;
	  border-top-color: $medium-gray;
	  border-right-color: $medium-gray;
	  border-left-color: transparent;
	  border-bottom-color: transparent;
	  border-style: solid;
	}	
      }
    }    
  }
  
  #chatarea {
    position: absolute;
    padding-top: 12px;
    bottom: 0;
    left: 0;
    height: 58px;
    background-color: white;
    border-top: 1px solid $border-gray;
    &.empty {
      &:before {
	display: block;
	content: 'Write a message';
	position: absolute;
	top: 12px;
	left: 10px;
      }
    }
    
    .userinput {
      padding-top: 2px;
      z-index: 2;
      height: 100%;
      width: 100%;
    }
    
    #sendit {
      float: right;      
    }
  }
}
