.header {
  background-color: $basic-blue;
  color: $white;  
  
  .nav-back {
    width: 34px;
    height: 50px;
    padding-top: 11px;
    
    margin: 0 0 0 20px;
    display: inline-block;
    font-size: $large-title;
    color: $arrow-gray;

    display: none;
  }
  
  .header-title {
    margin: 16.5px 0 0 20px;
    display: inline-block;
    font-size: $top-navbar-text;
  }

  .header-actions {
    float: right;
    .item {
      display: none;
      margin: 20px 46px 0 0;
    }
    
    #search {
      .search-icon-img {
	height: 30px;
	width: 30px;
	color: $arrow-gray;
      }
    }
    
    #submit-body-form {
      text-transform: uppercase;
      color: $white;
      font-size: $header-actions;
    }
  }
}
