.counselor {
  &:hover {
    overflow-y: scroll;
  }
  overflow: hidden;
  
  width: 100%;
  .contact-details {
    clear: both;
  }
  .counselor-item {
    position: relative;
    .floating-action.chat {
      position: absolute;
      height: 35px;
      width: 35px;
      right: 15px;
      top: 15px;
    
      border-radius: 50%;
      border-color: transparent;
      box-shadow: 0px 8px 8px rgba(0,0,0,.24);
    
      background-color: red;
      color: white;
    }
    
  }
}
