.counselor {
  &:hover {
    overflow-y: scroll;
  }
  overflow: hidden;
  
  width: 100%;
  .contact-details {
    clear: both;
  }
  
  .counselor-name {
    background-color: $basic-blue;
    color: white;
    height: 59px;
    margin-bottom: 21px;
    
    .nametext {
      font-size: $large-title;
      padding-left: 17px;
    }
  }
}
