.search-results {
  #map-canvas {
    width: 100%;
    .leaflet-marker-icon {
      height: 20px;
      width: 20px;
    }
    display: none;
  }
  
  height: 100%;
  width: 100%;

  &:hover {
    overflow-y: scroll;
  }
  overflow: hidden;
  .result-cards {
    .card-entry {
      margin-bottom: 15px;
      .title {
	font-size: $portfolio-name-text;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 13px;
      }
    }
    
    width: 100%;
    clear: both;

    padding-top: 12px;

    * {
      background-color: white;
    }      
    .contact-box {
      min-height: 72px;
      color: $basic-blue;
      text-align: center;
    }
    

    .detail-title {
      color: $about-gray;
      padding-bottom: 10px;
    }
    .detail-text {
      padding-bottom: 10px;
    }      
  }
}
