body {
  font-family: 'Roboto', sans-serif;
}
.main-app {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.x-out {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  height: 20px;
  width: 20px;
  color: $dark-gray;
  font-size: $top-navbar-text;
  cursor: pointer;
  font-weight: bold;
}

.rounded-border {
  border-radius: 50%;
  border-color: transparent;
}

.red-button {
  @include button($basic-red, white);
  display: none;
}

.bubble {
  height: 20px;
  width: 20px;
  background-color: $basic-red;
  border-radius: 50%;
  color: $white;
  border-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2px;
  display: none;
  &.visible {
    display: inline-block !important;
  }
}

.para {
  margin-bottom: 10px;
}

.app-body {
  background-color: $light-gray;
  height: 100%;
  display: flex;
  position: relative;
  
  flex-direction: column;

  z-index: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
  
  .portfolio-card {
    margin-top: 34px;
    .title {
      font-size: $body-text;
      color: $dark-gray;
      font-weight: bold;
      text-align: center;
      margin-bottom: 8px;
    }
    .card-entry {
      box-shadow: 0 2px 2px $shadow-rgba, 0 2px 2px $light-shadow-rgba;
      &.content {
	min-height: 112px;
      }
      
      background-color: $white;
      padding: 16px 0 12px 37px;
      &.tight {
	padding: 16px 16px 0 16px;
      }
      margin-bottom: 8px;
    }
  }
}

.body-text {
  font-size: 28px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.switcher-tab {
  display: block;
  margin-bottom: 0;
  width: 100%;
  background-color: $basic-blue;
  height: 53px;

  .goto {
    height: 100%;
    padding-top: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
    &.selected {
      border-bottom: solid 3px white;
    }
  }
}

/* cards in a list */
.card-item {
  padding-top: 13px;
  position: relative;
  
  .details {
    margin-top: 10px;
    .name {
      font-size: $body-text;
      font-weight: bold;
      line-height: 24px;
    }
    .description {
      color: $darkest-gray;
    }
  }
  
  .namepic {
    padding: 5px;
    float: left;
    margin: 0 20px 0 10px;
    
    @media(min-width: 768px) {
      height: 75px;
      width: 75px;
    }
    @media(max-width: 768px) {
      height: 40px;
      width: 40px;
    }
  }
}

.floating-action {
  position: absolute;
  height: 56px;
  width: 56px;
  right: 15px;
  bottom: 15px;
  
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 0px 8px 8px rgba(0,0,0,.24);
    
  &.chat {
    background-color: red;
    color: white;
  }
}

.floating-action {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(0,0,0,.24);
  border-color: transparent;
  
  &.chat {
    background-color: red;
    color: white;
  }

  &.like {
    background-color: #f1f1f1;
    color: black;
    padding: 11px 10px 10px 9px;
    &.liked {
      background-color: $basic-red;
      color: white;
    }
  }
}
    
