.header {
  .button-rectangular {
    width: 103px;
    height: 29px;
    padding: 7px 14px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    margin-top: -4px;
    font-size: $small-text;
    
    &.private {
      background-color: $arrow-gray;
    }
    &.public {
      background-color: $basic-red;
    }
  }
  
  background-color: $basic-blue;
  color: $white;  
  
  &.header-search {
    .header-title {
      margin: 0 0 0 20px;      
      width: 70%;
    }
    input {
      width: 100%;
      &:placeholder {
	font-size: $top-navbar-text;
	color: $arrow-gray;
      }
    }
    .nav-back {
      display: inline-block;
    }
    
    display: none;
  }
  
  .nav-back {
    width: 34px;
    height: 50px;
    padding-top: 11px;
    
    margin: 0 0 0 20px;
    display: inline-block;
    font-size: $large-title;
    color: $arrow-gray;

    display: none;
  }
  
  .header-title {
    margin: 16.5px 0 0 20px;
    display: inline-block;
    font-size: $top-navbar-text;
  }

  .header-actions {
    float: right;
    .item {
      margin: 20px 46px 0 0;
      display: inline-block;
      &.dynamic {
	display: none;
      }
      .tool-icon-img {
	height: 30px;
	width: 30px;
	color: $arrow-gray;
      }
    }
    
    #submit-body-form {
      text-transform: uppercase;
      color: $white;
      font-size: $header-actions;
    }
  }
}
