.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;

  flex-direction: column;
  height: 100%;
  .blackout {
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, .8);
  }
  
  .overlay-screen {
    position: relative;
    background-color: $white;
    flex: 0 1 215px;
    color: $black;

    .message {
      .message-title {
      }
      .message-body {
      }
    }
  }
}
