.portfolio {
  .switcher-tab {
    .bubble {
      top: 5px;
      right: 10px;
    }
  }
  
  .description {
    .entry-name {
      font-weight: bold;
    }
  }
  
  .portfolio-sub-card {
    background-color: $white;
  }
  
  .portfolio-img {
    &.loading {
      display: none;
    }
    &.dragged {
      opacity: 0.3;
    }
    
    height: 60px;
    margin: auto;
    width: auto;
    margin-bottom: 5px;
    border-radius: 50%;
    border-color: white;
  }
  
  overflow-y: scroll;
  background-color: $light-gray;
  width: 100%;

  .card-entry {
    .work-title {
      font-size: $body-text;
      line-height: $tall-height;
    }
    .work-workplace {
      font-size: $portfolio-workplace-text;
      line-height: $normal-height;
      margin-bottom: 3px;
    }
    .work-worktime {
      color: $opaque-black;
      line-height: $normal-height;
      font-size: $body-text;
    }
  }
  
  .portfolio-name {
    min-height: 115px;
    background: $white;
    text-align: center;
    padding-top: 34px;
    .username {
      font-size: $portfolio-name-text;
      font-weight: bold;
    }

    margin-bottom: 8px;
    box-shadow: 0 2px 2px $shadow-rgba;
  }
}
