html, body {
  height: 100%;
}

.app-body {
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
}

.main-app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 1 $header-height;
}

.footer {
  flex: 0 1 $footer-height;
  text-align: center;
}

.content {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

svg.defs {
  height: 0;
  width: 0;
  display: block;
}
