/* Colors */

$opaque-black: rgba(0, 0, 0, 0.38);
$basic-gray: #B0BEC5;
$about-gray: #828282;
$light-gray: #F2F2F2;
$medium-gray: #EEE;
$border-gray: #E5E5E5;
$dark-gray: #4A4A4A;
$darker-gray: #888;
$darkest-gray: #BBB;
$arrow-gray: #0a89a7;
$basic-orange: #F94730;
$basic-blue: #00b9e6;
$basic-blue-rgba: rgba(0, 185, 216, 0.5);
$basic-purple: #5e35b1;
$basic-red: #F94730;

$white: #FFF;
$black: #000;

$shadow-rgba: rgba(0, 0, 0, 0.24);
$light-shadow-rgba: rgba(0, 0, 0, 0.12);

/* Hard-coded Dimensions */
$navicon-dim: 18px;
$nav-action-area: 72px;

$header-height: 68px;
$footer-height: 56px;
$taxonomy-cell-height: 176px;

/* Font sizes */

$small-text: 14px;
$body-text: 16px;
$large-title: 34px;

$navbar-deselected: 12px;
$navbar-selected: 14px;
$header-actions: 14px;
$top-navbar-text: 20px;
$portfolio-name-text: 20px;
$portfolio-workplace-text: 12px;

/* Line heights */
$tall-height: 24px;
$medium-height: 20px;
$normal-height: 16px;

/* Breakpoints */

$mobile-breakpoint: 400px;
