/* Colors */

$opaque-black: rgba(0, 0, 0, 0.38);
$basic-gray: #B0BEC5;
$light-gray: #F2F2F2;
$dark-gray: #4A4A4A;
$arrow-gray: #0a89a7;
$basic-orange: #F94730;
$basic-blue: #00b9e6;
$basic-purple: #5e35b1;

$white: #FFF;

$shadow-rgba: rgba(0, 0, 0, 0.24);
$light-shadow-rgba: rgba(0, 0, 0, 0.12);

/* Hard-coded Dimensions */
$navicon-dim: 18px;
$nav-action-area: 72px;

$header-height: 68px;
$footer-height: 56px;
$taxonomy-cell-height: 176px;

/* Font sizes */

$navbar-deselected: 12px;
$navbar-selected: 14px;
$header-actions: 14px;
$large-title: 34px;
$top-navbar-text: 20px;
$portfolio-name-text: 20px;
$portfolio-workplace-text: 12px;
$body-text: 16px;

/* Line heights */
$tall-height: 24px;
$normal-height: 16px;

/*
Nav bar 20px medium
Subheadings 16px medium
Body small 14px regular
Buttons 14px medium all caps
Hint text 12px regular
Nav bar selected 14px regular
Nav bar deselected 12px regular
*/